Body {
  font-family: "Roboto", sans-serif;
  color: #878787;
}

.project {
  border: 1px solid #dadde1;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px;
  display: block 0;
  margin: 30px auto;
  padding: 20px;
  max-width: 700px;
}

.card {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px;
}

.search-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 10px;
}

.weather-forecast-container {
  margin-top: 20px;
  padding: 0px 0px 15px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px;
}

.city {
  color: #797979;
}

.temperature {
  font-size: 90px;
  line-height: 1;
}
.today-temperature .active {
  color: #797979;
  cursor: default;
}

.today-temperature .active:hover {
  text-decoration: none;
}

.day {
  font-weight: 700;
}

.week {
  margin: 0 0 10px 12px;
  text-align: left;
}

.units {
  position: relative;
  top: -40px;
  text-decoration: none;
}

.btn-primary {
  background-color: #c3bef0;
  border-color: #c3bef0;
}

.btn-primary:hover {
  background: white;
  color: #c3bef0;
  border-color: #c3bef0;
}

.btn-primary:active {
  background: white;
  color: #c3bef0;
  border-color: #c3bef0;
  box-shadow: rgb(195, 190, 240 /25%);
}

.btn-primary:focus {
  background-color: #c3bef0;
  border-color: #c3bef0;
  box-shadow: rgb(195, 190, 240 /25%);
  color: white;
}

.form-control:focus {
  border-color: #c3bef0;
  box-shadow: rgb(195, 190, 240 /25%);
}

.weatherForecats-day {
  font-weight: bold;
}

h1 {
  color: #878787;
  display: block;
  font-size: 40px;
  line-height: 28px;
  text-align: left;
}

h2 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}

h3 {
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}

ul {
  font-size: 14px;
  box-sizing: inherit;
  padding: 0;
  text-align: left;
}

li {
  list-style: none;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  padding: 0;
}

footer {
  font-size: 13px;
  padding: 15px 0px 0px 0px;
  text-align: center;
}

canvas {
  margin: 0 auto;
}

a {
  color: #c3bef0;
  text-decoration: none;
}

a:hover {
  color: #cadefc;
}

@media (max-width: 768px) {
  .city {
    text-align: center;
  }

  .today-temperature {
    text-align: center;
  }

  ul {
    text-align: center;
  }

  h1 {
    font-size: 54px;
    text-align: center;
  }
}
