Body {
  font-family: "Roboto", sans-serif;
  color: #878787;
}

.project {
  border: 1px solid #dadde1;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px;
  display: block 0;
  margin: 30px auto;
  padding: 20px;
  max-width: 700px;
}

.card {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px;
}

.city {
  color: #797979;
}

.temperature {
  font-size: 90px;
  line-height: 1;
}
.today-temperature .active {
  color: #797979;
  cursor: default;
}

.today-temperature .active:hover {
  text-decoration: none;
}

.day {
  font-weight: 700;
}

.week {
  margin: 20px 8px;
}

.units {
  position: relative;
  top: -40px;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #878787;
}

.forecast-day {
  font-size: 16px;
}

.forecast-temp {
  font-size: 13px;
}

.btn-primary {
  background-color: rgb(244, 108, 96);
  border-color: rgb(244, 108, 96);
}

.btn-primary:hover {
  background: white;
  color: rgb(244, 108, 96);
  border-color: rgb(244, 108, 96);
}

.btn-primary:active {
  background: white;
  color: rgb(244, 108, 96);
  border-color: rgb(244, 108, 96);
  box-shadow: rgb(244, 108, 96 /25%);
}

.btn-primary:focus {
  background-color: rgb(244, 108, 96);
  border-color: rgb(244, 108, 96);
  box-shadow: rgb(244, 108, 96 /25%);
  color: white;
}

.form-control:focus {
  border-color: rgb(244, 108, 96);
  box-shadow: rgb(244, 108, 96 /25%);
}

h1 {
  color: #878787;
  display: block;
  font-size: 40px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

h2 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}

.Weather h3 {
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}

ul {
  font-size: 14px;
  box-sizing: inherit;
  padding: 0;
  text-align: left;
}

li {
  list-style: none;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  padding: 0;
}

footer {
  font-size: 13px;
  padding: 15px 0px 0px 0px;
  text-align: center;
}

img {
  margin: 0 auto;
}

a {
  color: rgb(244, 108, 96);
  text-decoration: none;
}

a:hover {
  color: rgb(246, 152, 144);
}
